<header class="top-menu">
    <div class="top-menu__logo">
        <a class="top-menu__logo-item" href="#">
            <span>Fashion</span>press
        </a>
    </div>
    <ul class="top-menu__login">
        <li><a class="top-menu__links" href="#">Join</a></li>
        <li><a class="top-menu__links" href="#">Sign In</a></li>
        <li>
            <a class="top-menu__shopping-bag" href="#">
                Shopping bag
                <small>(0)</small>
                <span><img src="../../images/vector-smart-object.png" alt="shopping-bag"></span>
            </a>
        </li>
    </ul>
</header>