<section class="goods-offers">
    <section class="goods-offers__card goods-offers__card--small">
        <header>
            <img class="goods-offers__img" src="../../images/layer-65.png" alt="goods">
        </header>
        <p class="goods-offers__description">
            Kids Moon Colorblock
            Footed Tights
        </p>
        <div class="goods-offers__container-price">
            <p class="goods-offers__price">$8.<sup>99</sup></p>
            <button class="goods-offers__btn">GET IT</button>
        </div>

    </section>
    <section class="goods-offers__card goods-offers__card--big">
        <header>
            <img class="goods-offers__img" src="../../images/layer-60.png" alt="goods">
        </header>

        <div class="goods-offers__container-price">
            <p class="goods-offers__description">
                Kids Moon Colorblock
                Footed Tights
            </p>
            <p class="goods-offers__price">$8.<sup>99</sup></p>
            <button class="goods-offers__btn">GET IT</button>
        </div>

    </section>
</section>