<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    @@include('../components/header/header.html')
    @@include('../components/navigation/navigation.html')
    @@include('../components/slider/slider.html')
    @@include('../components/search-panel/search-panel.html')
    <div class="container-content">
        @@include('../components/sidebar/sidebar.html')
        @@include('../components/good-cards/good-cards.html')
    </div>
</body>
</html>
