<div class="slider">
    <div class="slider__inner">
        <div class="slider__text">
            <h1 class="slider__headline">
                We provide worlds
                top fashion for less
                fashionpress.
            </h1>
            <p class="slider__subtitle">
                FashionPress the name of hi class fashion web.
            </p>
        </div>
        <img class="slider__img" src="../../images/shutterstock-91579292.png" alt="">
        <div class="slider__price">
            <p class="slider__price-item">
                Product
            <small>$24</small>
            </p>
        </div>
    </div>
</div>