<aside class="goods-menu">
    <h2 class="goods-menu__menu-headline">Products Menu</h2>
    <nav>
        <a class="goods-menu__item" href="#">Man</a>
        <a class="goods-menu__item" href="#">Women</a>
        <a class="goods-menu__item" href="#">Fashion 2013</a>
        <a class="goods-menu__item" href="#">Kids</a>
        <a class="goods-menu__item" href="#">Jeans</a>
        <a class="goods-menu__item" href="#">Tshirt</a>
        <a class="goods-menu__item" href="#">Top Fasion</a>
        <a class="goods-menu__item" href="#">Summber collection</a>
        <a class="goods-menu__item" href="#">Special Offer</a>
    </nav>
</aside>