<nav class="navigation-menu">
    <ul class="navigation-menu__links">
        <li><a class="navigation-menu__link-item" href="#">Home</a></li>
        <li><a class="navigation-menu__link-item" href="#">About Us</a></li>
        <li><a class="navigation-menu__link-item" href="#">Careers</a></li>
        <li><a class="navigation-menu__link-item" href="#">Contact Us</a></li>
        <li><a class="navigation-menu__link-item" href="#">Company Profile</a></li>
        <li><a class="navigation-menu__link-item" href="#">Company Registration</a></li>
        <li><a class="navigation-menu__link-item" href="#">Wish List</a></li>
    </ul>
</nav>
