<section class="search-panel">
    <form class="search-panel__form">
        <label>Search Product
            <input class="search-panel__input" type="text">
        </label>
        <button class="search-panel__search-btn">
            <img src="../../images/shape-5.png">
        </button>
    </form>
    <div class="menu-icons">
        <button class="menu-icons__btn">
            <img src="../../images/layer-61-copy-3.png" alt="icon-menu">
        </button>
        <button class="menu-icons__btn">
            <img src="../../images/layer-61-copy-4.png" alt="icon-menu">
        </button>
    </div>
</section>