@import 'variables';

.navigation-menu{
  background-color: #000000;
  &__links{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 13px 10px;
  }
  &__link-item{
    color: #ffffff;
    font-family:$link-font;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
    &:hover,
    &:focus{
     color:#e70505
    }
  }
}